* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 150px 1fr;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "nav header header"
    "nav article aside";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(226,232,240,255);
}

header {
grid-area: header;
 background-color: white;
 display: grid;
 grid-template-columns: 2fr 1fr;
 grid-template-rows: 1fr 2fr;
 padding-top: 10px
}

nav {
grid-area: nav;
 display: grid;
 grid-template-rows: 100px repeat(10,50px);
 background-color: rgba(25,146,212,255);
 min-width: 200px;
}

article {
grid-area: article;
 display: grid;
 grid-template-columns: 1fr 1fr;
grid-template-rows: 15px 1fr 1fr 1fr;
grid-template-areas: "h1 h1";
 grid-gap: 10px;
 margin: 10px 5px 10px 10px;
}

aside {
    grid-area: aside;
     display: grid;
     grid-template-rows: 15px 1fr 15px 1fr;
     grid-gap: 10px;
     margin: 10px 10px 10px 5px
}


.dashboard {
    padding-left: 5px;
    font-size: 20px;
    
}
.dashboard > img {
    margin-right: 7px;
     filter: invert();
     width: 40px;
}

nav > div {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 500;
    font-size: 15px;
}

nav > div > img {
    filter: invert();
    margin-right: 10px;
    width: 30px;
}

input {
    width: 80%;
    border-radius: 10px;
    border: 1px solid rgb(189, 188, 188);
    height: 20px;
    background-color: rgba(226,232,240,255);
    
  
}

header > .search  {
display: flex;
align-items: center;

}

header > .search > img {
    margin: 0 5px 0 20px;
    width: 30px;
}

header .profile img {
    width: 30px;
}
header .profile img:nth-child(2) {
    width: 40px
}

.profile {
    display: flex;
    align-items: center;
   justify-content: flex-end;
    font-weight: 500;
    gap: 10px;
    margin-right: 10px;
    font-size: 15px;
  
}

header .hello img {
    width: 60px;
    margin: 20px
}

header .hello {
    display: flex;
    align-items: center;
    font-weight: 500;
     font-size: 10px;
}

header .hello p span {
    font-size: 18px;
    
}

header .buttons {
    display: flex;
    align-items: center;
     justify-content: space-between;
     margin-right: 10px
}

 button {
    background-color: rgba(25,146,212,255);
    color: white;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    width: 80px;
    border: none;
    font-size: 10px;
   
}

article div:not(.icons) {
    border-left: 5px solid orange;
    border-radius: 5px;
     background-color: white;

}

article div p:nth-child(2) {
    font-size: 10px;
    margin: 0 10px 0 10px
}

article div p:first-child {
    font-weight: 500;
    font-size: 14px;
    margin: 10px 0 10px 10px;
}

h1 {
    grid-area: h1;
    font-size: 15px
}

h2, h3 {
    font-size: 15px
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3,1fr);

}

aside div p:first-child {
    font-weight: 500;
}

aside div {
    font-size: 12px;
    padding: 8px;
     background-color: white;
     border-radius: 5px;
}

aside .announcements p:last-child {
    font-size: 10px;
    border-bottom: 1px solid rgb(196, 194, 194);
    padding-bottom: 20px
}
.trending {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  
}
.trending img {
    width: 50px
}

.trending div p:last-child {
    color: rgb(86, 86, 86)
}

.icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px 5px 0;
    gap: 10px
    
}

.icons img {
    width: 20px;

}

article div {
    display: grid;
}